<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ActNeed ERP，跨境电商ERP，外贸电商利器，跨境电商的万能管家">
    <meta name="keywords" content="ActNeed，actneed，ACTNEED，ActNeed店铺管家，ActNeed ERP，跨境电商ERP，外贸电商ERP，产品刊登，订单管理，物流管理，产品搬家，产品翻译，库存管理，法老之蛇，joom电商平台，need 开店 跨境，地下城堡2黑暗觉醒，act客服电话">
    {% block css %}
    {% end %}
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block boo %}
{% end %}
{% block javascript %}
{% end %}
</body>
</html>